# The web_scripts directory contains dynamic content for 
# scripts.mit.edu, and should not be accessed via web.mit.edu.  This
# .htaccess.mit file is symlinked into web_scripts directories to
# prevent confusion.                                        

Require user
ErrorDocument 403 /afs/athena.mit.edu/contrib/scripts/www/web_scripts.html

# New rule - if file / directory doesn't exist, execute api.php
<IfModule mod rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule api/v1/(.*)$ api/api.php?request=$1 [QSA,NC,L]
</IfModule>